<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Login page in HTML</title>
</head>
<body>
<h1>Login form using HTML and CSS</h1>
<form action="/api/auth/login" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="username"><br>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="password" ><br>
    <button type="submit">Sign In</button>
</form>
</body>
</html>